div {
    border: 1px solid black;
}

body {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    display: block;
}

/* header section */

.logo {
    color: mediumaquamarine;
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-left: 25px;

}

.logo img {
    padding-right: 10px;
}

header {
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding-bottom: 12px;
    z-index: 3;
    position: fixed;
    width: 100%;
    background-color: white;
    
}

.navigation {
    padding-right: 50px;
    justify-content: space-between;
}

.navigation a {
    color: black;
}

.navigation span {
    padding: 15px;
}

/* Main Section */

.main.container {
    display: flex;
    padding-top: 75px;
    justify-content: space-between;

}

.first.column {
    width: 630px;
    display: flex;
    flex-direction: column;
}

.second.column {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.third.column {
    width: 240px;
    display: flex;
    flex-direction: column;
}